/.idea/*
!/.idea/dataSources.xml
!/.idea/modules.xml
!.idea/sqldialects.xml
!/.idea/libraries

/.idea/libraries/*
!/.idea/libraries/Dart_SDK.xml
!/.idea/libraries/Flutter_Plugins.xml

/data
.DS_Store
